* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #CFB9B9;
  --cor-secundaria: #A69CAC;
  --cor-fundo: #F5F5F5;
  --cor-texto: #333;
  --cor-borda: #999;
  --cor-botao: #508a2e;
  --cor-sobre-imagem:#fff;

}

body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;




}


header {
  background-color: var(--cor-primaria);
  padding: 20px;
  text-align: center;
  border: 2px solid var(--cor-borda);
  border-radius: 8px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.imagem {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 300px;
  
  
}

.texto-sobre-imagem {
  position: absolute;
  color: var(--cor-sobre-imagem);
  
 
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;

}

.formulario {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario h1 {
  margin-bottom: 20px;
  color: var(--cor-texto);
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--cor-borda);
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--cor-botao);
  color: var(--cor-sobre-imagem);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



  

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .imagem,
  .formulario {
    width: 100%;
    padding: 20px 10px;
  }

  .texto-sobre-imagem {
    max-width: 30%;
    font-size: 0.95rem;
    padding: 15px;
  }

  input {
   
    width: 20%;
    padding: 10px;
    border-radius: 6px;

    
  }
  label {
    display: block;      
    margin-bottom: 5px;
    font-size: 0.9rem;
  } 

  button {
    font-size: 1rem;
  }
}
